# Configuration file for the online GUI 
# This file is for detectors on L-arm.
# This file uses histograms, best for analyzer version >= 1.1
#
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
#  More details in README

goldenrootfile ./golden_det_L.root
# D:2747
#goldenrootfile ROOTfiles/e04007_det_2747.root
# C: 2683
protorootfile  ROOTfiles/e06014_det_L_XXXXX.root

# newpage 2 2 logy
#	title L-arm S0 (only for ep XS)
#	Ls0a1
#	Ls0a2
#	Ls0t1
#	Ls0t2

 newpage 2 6 logy
	title L-arm S1 ADC
	Ls1la0
	Ls1ra0
	Ls1la1
	Ls1ra1
	Ls1la2
	Ls1ra2
	Ls1la3
	Ls1ra3
	Ls1la4
	Ls1ra4
	Ls1la5
	Ls1ra5

 newpage 2 6 logy
	title L-arm S1 ADC ped sub
	Ls1la_p0
	Ls1ra_p0
	Ls1la_p1
	Ls1ra_p1
	Ls1la_p2
	Ls1ra_p2
	Ls1la_p3
	Ls1ra_p3
	Ls1la_p4
	Ls1ra_p4
	Ls1la_p5
	Ls1ra_p5

newpage 2 6 
	title L-arm S1 TDC
	Ls1lt0
	Ls1rt0
	Ls1lt1
	Ls1rt1
	Ls1lt2
	Ls1rt2
	Ls1lt3
	Ls1rt3
	Ls1lt4
	Ls1rt4
	Ls1lt5
	Ls1rt5

 newpage 2 6 logy
	title L-arm S2m ADC
	Ls2la0
	Ls2ra0
	Ls2la1
	Ls2ra1
	Ls2la2
	Ls2ra2
	Ls2la3
	Ls2ra3
	Ls2la4
	Ls2ra4
	Ls2la5
        Ls2ra5

 newpage 2 6 logy
        title L-arm S2m ADC (6-11)
        Ls2la6
        Ls2ra6
        Ls2la7
        Ls2ra7
        Ls2la8
        Ls2ra8
        Ls2la9
        Ls2ra9
        Ls2la10
        Ls2ra10
        Ls2la11
        Ls2ra11

newpage 2 4 logy
        title L-arm S2m ADC (12-15)
        Ls2la12
        Ls2ra12
        Ls2la13
        Ls2ra13
        Ls2la14
        Ls2ra14
        Ls2la15
        Ls2ra15

newpage 2 6 logy
	title L-arm S2 ADC ped sub (0-5)
	Ls2la_p0
	Ls2ra_p0
	Ls2la_p1
	Ls2ra_p1
	Ls2la_p2
	Ls2ra_p2
	Ls2la_p3
	Ls2ra_p3
	Ls2la_p4
	Ls2ra_p4
	Ls2la_p5
	Ls2ra_p5

newpage 2 6 logy
        title L-arm S2m ADC ped sub (6-11)
        Ls2la_p6
        Ls2ra_p6
        Ls2la_p7
        Ls2ra_p7
        Ls2la_p8
        Ls2ra_p8
        Ls2la_p9
        Ls2ra_p9
        Ls2la_p10
        Ls2ra_p10
        Ls2la_p11
        Ls2ra_p11

newpage 2 4 logy
        title L-arm S2m ADC ped sub (12-15)
        Ls2la_p12
        Ls2ra_p12
        Ls2la_p13
        Ls2ra_p13
        Ls2la_p14
        Ls2ra_p14
        Ls2la_p15
        Ls2ra_p15

#newpage 2 2
#	title L-arm S ADC sum
#	macro s_ADC.C(1,"L.s1.la_p")
#	macro s_ADC.C(1,"L.s1.ra_p")
#	macro s_ADC.C(2,"L.s2.la_p")
#	macro s_ADC.C(2,"L.s2.ra_p")

newpage 2 6 
	title L-arm S2m TDC (0-5)
	Ls2lt0
	Ls2rt0
	Ls2lt1
	Ls2rt1
	Ls2lt2
	Ls2rt2
	Ls2lt3
	Ls2rt3
	Ls2lt4
	Ls2rt4
	Ls2lt5
	Ls2rt5


newpage 2 6 
        title L-arm S2m TDC (6-11)
        Ls2lt6
        Ls2rt6
        Ls2lt7
        Ls2rt7
        Ls2lt8
        Ls2rt8
        Ls2lt9
        Ls2rt9
        Ls2lt10
        Ls2rt10
        Ls2lt11
        Ls2rt11

newpage 2 4 
        title L-arm S2m TDC (12-15)
        Ls2lt12
        Ls2rt12
        Ls2lt13
        Ls2rt13
        Ls2lt14
        Ls2rt14
        Ls2lt15
        Ls2rt15



newpage 2 2
	title L-arm VDC wires
        Lvu1w
	Lvu2w
	Lvv1w
	Lvv2w

newpage 2 2
	title L-arm VDC TDC
        Lvu1t
	Lvu2t
	Lvv1t
	Lvv2t

newpage 2 2 
	title L-arm VDC hits
	Lu1nhit
	Lu2nhit
	Lv1nhit
	Lv2nhit

newpage 2 2 
	title L-arm VDC efficiency
#	Lu1eff_c
#	Lu2eff_c
#	Lv1eff_c
#	Lv2eff_c
        macro vdc_draw.C("Lu1eff")
        macro vdc_draw.C("Lu2eff")
        macro vdc_draw.C("Lv1eff")
        macro vdc_draw.C("Lv2eff")
#        Lu1eff
#        Lu2eff
#        Lv1eff
#        Lv2eff



newpage 2 5 logy
	title L-arm Cerenkov ADCs
	multiplot 0 9 LceraXXXXX

newpage 2 5 logy
	title L-arm Cerenkov ADCs pedestal sub
	multiplot 0 9 Lcera_pXXXXX

newpage 2 5 logy
	title L-arm Cerenkov TDCs
	multiplot 0 9 LcertXXXXX

newpage 1 1 logy
	title Cerenkov sum 
        Lcer_sum
#        Lcer_x -noshowgolden -type cont0  -noshowgolden
#        Lcer_y -noshowgolden -type cont0  -noshowgolden
#        Lcer_x -noshowgolden -type COLZ -noshowgolden
#        Lcer_y -noshowgolden -type COLZ -noshowgolden

#newpage 1 
#        title Pion Rejector
#        Lpr1_2


# newpage 2 6 logy
#        title Pion Rejector1 ADC(0-11)
#	multiplot 0 11 LpsaXXXXX

# newpage 2 6 logy
#        title Pion Rejector1 ADC(12-23)
#	multiplot 12 23 LpsaXXXXX

# newpage 2 5 logy
#        title Pion Rejector1 ADC(24-33)
#	multiplot 24 33 LpsaXXXXX

# newpage 2 6 logy
#        title Pion Rejector2 ADC(0-11)
#	multiplot 0 11 LshaXXXXX

# newpage 2 6 logy
#        title Pion Rejector2 ADC(12-23)
#	multiplot 12 23 LshaXXXXX

# newpage 2 5 logy
#        title Pion Rejector2 ADC(24-33)
#	multiplot 24 33 LshaXXXXX

#newpage 2 6 logy
#        title Pion Rejector1 ADC(0-11) ped sub
#	multiplot 0 11 Lpsa_pXXXXX

#newpage 2 6 logy
#        title Pion Rejector1 ADC(12-23) ped sub
#	multiplot 12 23 Lpsa_pXXXXX

#newpage 2 5 logy
#        title Pion Rejector1 ADC(24-33) ped sub
#	multiplot 24 33 Lpsa_pXXXXX

#newpage 2 6 logy
#        title Pion Rejector2 ADC(0-11) ped sub
#	multiplot 0 11 Lsha_pXXXXX

#newpage 2 6 logy
#        title Pion Rejector2 ADC(12-23) ped sub
#	multiplot 12 23 Lsha_pXXXXX

#newpage 2 5 logy
#        title Pion Rejector2 ADC(24-33) ped sub
#	multiplot 24 33 Lsha_pXXXXX


#newpage 2 2
#        title Pion Rejector sum:x and sum:y
#        Lpr1sumx
#	Lpr1sumy
#        Lpr2sumx
#	Lpr2sumy

#####

#newpage 4 3
#        Rtxy

newpage 3 3
	title  Beam Position at BPMs and Target
	bpma_xy -type colz -nostat -noshowgolden
	bpma_x
	bpma_y
	bpmb_xy -type colz -nostat -noshowgolden
	bpmb_x
	bpmb_y
	beam_xy -type colz -nostat -noshowgolden
	beam_x
	beam_y

newpage 2 2
	title Target and Momentum
	dp
	tgy
	tgth
	tgph

#newpage 1 1 logy
#	title Momentum
#	dp

newpage 1 2 
	title Momentum (small bins) and Reactz
#	dp
        L.tr.tg_dp>>htemp(500,-0.07,0.07) L.tr.n==1  -tree T -title "Deviation from Central Momentum"
	zreact


newpage 1 2
	title Raster and Sieve Slit 
	rastxy -type colz -nostat -noshowgolden
	sieve -noshowgolden
#	hel

#newpage 1 1 
#	title Event type distribution
#	HEvType

#newpage 1 2 
#	title Helicity
#	g0hel -stat
#	adchel -stat
#        heldiff


# -----------------------
# Event Flag
# -----------------------
#newpage 1 1 logy
#	title Event type distribution
#	HEvType



# -----------------------
# Spin Heli
# -----------------------
newpage 1 3 logy
	title Helicity
	g0hel -stat
	adchel -stat
        heldiff

newpage 2 2 logy
	title Target Spin
	he3SpinValid -nostat
	he3SpinLADC2Valid -nostat
	he3Spin -nostat
	he3SpinLADC2 -nostat
